In [27]:
my_list = [1,2,3]

In [28]:
my_list = ['STRING',100,23.3]

In [30]:
my_list

['STRING', 100, 23.3]

In [29]:
len(my_list)

3

In [91]:
mylist = ['one', 'two', 'three']

In [92]:
mylist[1:]

['two', 'three']

In [93]:
anotherlist = ['four', 'five']

In [94]:
newlist = mylist + anotherlist

In [95]:
newlist

['one', 'two', 'three', 'four', 'five']

In [96]:
newlist[0] = 'ONE'

list.append('variable') = adds variable at end of list

list.pop(index) = removes variable at index position

list.insert(index,'variable') = adds vraible at index position

In [97]:
newlist

['ONE', 'two', 'three', 'four', 'five']

In [98]:
newlist.append('six') #does affect list (adds variable at end)

In [99]:
newlist.append('seven')

In [100]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [101]:
newlist.pop(1) #removes variable at index 1

'two'

In [102]:
newlist

['ONE', 'three', 'four', 'five', 'six', 'seven']

In [103]:
newlist.insert(1,'two') # adds variable 'two' at index 1

In [104]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [105]:
popped_item = newlist.pop()

In [106]:
popped_item

'seven'

In [107]:
newlist.append(popped_item)

In [108]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [109]:
popped_item = newlist.pop()

In [110]:
newlist.insert(0,popped_item)

In [111]:
newlist

['seven', 'ONE', 'two', 'three', 'four', 'five', 'six']

In [112]:
newlist.pop(0)
newlist.append('seven')

In [113]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [115]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [116]:
new_list.sort()

In [117]:
new_list

['a', 'b', 'c', 'e', 'x']

list.sort() = sorts in alphabetical/numerical order  (Occurs in place. Can't reassign)

In [118]:
my_sorted_list = new_list.sort()

In [119]:
my_sorted_list

In [120]:
type(my_sorted_list)

NoneType

In [124]:
new_list.sort()
my_sorted_list = new_list 
#this is stupid, new_list is already changed. Don't need to reassign

In [122]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [123]:
new_list

['a', 'b', 'c', 'e', 'x']

In [125]:
num_list

[4, 1, 8, 3]

In [126]:
num_list.sort()

In [127]:
num_list

[1, 3, 4, 8]

In [130]:
mixed_list=['3','1','2']

In [131]:
mixed_list.sort()

In [132]:
mixed_list

['1', '2', '3']

In [133]:
num_list.reverse()

In [134]:
num_list

[8, 4, 3, 1]

list.reverse() = reverses list also in place